<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Vonage Video test app</title>
    <% if(otjsApiUrl) { %>
    <script>
      var OTProperties = {
        apiURL: "<%= otjsApiUrl %>",
      };
    </script>
    <% } %>
    <script src="<%= otjsSrcUrl %>"></script>
    <script type="text/javascript">
        var appId = '<%= appId %>';
        var sessionId = '<%= sessionId %>';
        var token = '<%= token %>';
    </script>
    <style>
      body {
        font-family: sans-serif;
      }
      hr {
        max-width: 800px;
        margin-left: 0;
      }
      #log-div {
        background: silver;
        width: 100%;
        max-width: 800px;
        height: 400px;
        margin: 8px 0;
        overflow-y: auto;
        border: black 1px solid;
      }
      #streams-container {
        display: flex;
      }
      #controls {
        max-width: 900px;
        margin-top: 8px;
      }
      #controls button {
        margin: 4px 0;
      }
      #archive-resolution-options {
        margin-left: 20px;
      }
      #rtmp-url {
        width: 100%;
        max-width: 620px;
      }
      #broadcast-rtmp-options {
        opacity: 0.2;
      }
    </style>
</head>
<body>
    <div id="streams-container">
      <div id="publisher"></div>

      <div id="subscribers"></div>
    </div>

    <div id="controls">
     <button id="start-archive-btn">Start archive</button>
     <button id="stop-archive-btn">Stop archive</button>
     <button id="delete-archive-btn" disabled>Delete previous archive</button>
     <button id="force-disconnect-btn" click="forceDisconnect()">Force disconnect me</button>
     <button id="force-mute-stream-btn" click="forceMuteStream()">Force mute me</button>
     <button id="force-mute-all-btn" click="forceMuteAll()">Force mute all</button>
     <button id="disable-force-mute-btn" click="disableForceMute()">Disable force mute</button>
     <button id="signal-me-btn" click="signalMe()">Send signal to me</button>
     <button id="signal-all-btn" click="signalAll()">Send signal to everyone</button>
     <button id="get-stream-btn" click="getStream()">Get stream info</button>
     <button id="set-class-list-btn" click="setStreamClassLists()">Set my stream's class list</button>
     <button id="list-streams-btn">List streams</button>
     <button id="list-archives-btn">List archives for session</button>
     <button id="list-broadcasts-btn">List broadcasts for session</button>
     <button id="start-broadcast-btn">Start broadcast</button>
     <button id="stop-broadcast-btn">Stop broadcast</button>
   </div>
   <h4>Options:</h4>
   <div id="archive-options">
     <p>Archive output mode:
       <input type="radio" id="composed" name="archiveOutputMode" value="composed" checked>
       <label for="composed">Composed</label>
       <input type="radio" id="individual" name="archiveOutputMode" value="individual">
       <label for="individual">Individual stream</label>
     </p>
     <p id="archive-resolution-options">Archive resolution:
       <input type="radio" id="sd" name="archiveResolution" value="640x480" checked>
       <label for="sd">SD</label>
       <input type="radio" id="hd" name="archiveResolution" value="1280x720">
       <label for="hd">HD</label>
       <input type="radio" id="fhd" name="archiveResolution" value="1920x1080">
       <label for="fhd">FHD</label>
     </p>
     <p id="broadcast-resolution-options">Broadcast resolution:
       <input type="radio" id="broadcast-sd" name="broadcastResolution" value="640x480" checked>
       <label for="sd">SD</label>
       <input type="radio" id="broadcast-hd" name="broadcastResolution" value="1280x720">
       <label for="hd">HD</label>
       <input type="radio" id="broadcast-fhd" name="broadcastResolution" value="1920x1080">
       <label for="fhd">FHD</label>
     </p>
     <p id="broadcast-options">Broadcast output:
       <input type="checkbox" id="hls" checked>
       <label for="hls">HLS</label>
       <input type="checkbox" id="rtmp">
       <label for="rtmp">RTMP</label>
     </p>
     <p id="broadcast-rtmp-options">Broadcast RTMP URL:
       <input type="input" id="rtmp-url">
     </p>
     <!-- No UI for addArchiveStream or removeArchiveStream yet:
     <p>Archive stream mode:
       <input type="radio" id="html" name="archiveStreamMode" value="auto">
       <label for="autp">Auto</label>
       <input type="radio" id="css" name="archiveStreamMode" value="manual" checked>
       <label for="manual">Manual (Up to two existing streams when the archive starts are included)</label>
     </p>
     -->
     <p>MultiArchiveTag and MultiBroadcastTag are not set. Simultaneous archives and broadcasts are not enabled.</p>
  </div>
   <div id="log-div">
     <pre id="log-pre"></pre>
   </div>
    <script src="/js/helloworld.js"></script>
</body>
</html>
